{% extends "home.html" %}
{% block title %}Home{% endblock  %}
{% block content %}
    <h1 class="text-center my-3">Blood Bank Management System</h1>
    <h1 class="text-center my-3">List of Donor</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <table class="table">
                <tr>
                  <th>SNO.</th>
                  <th>FIRSTNAME</th>
                  <th>LASTNAME</th>
                  <th>AGE</th>
                  <th>BLOODGROUP</th>
                  <th>DONATIONDATE</th>
                </tr>
                {% for d in donor_profile %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{d.first_name}}</td>
                  <td>{{d.last_name}}</td>
                  <td>{{d.age}}</td>
                  <td>{{d.blood_group}}</td>
                  <td>{{d.donation_date}}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock  %}